# Build outputs
dist
aautcq-svg-to-iconify-*.*.*.tgz

# Node dependencies
node_modules
pnpm-lock.yaml
yarn.lock
package-lock.json

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
